<p style="font-size:large">
    Thank You for registering in the Notes App.
    <br>
    Please
    <a href="http://localhost:3000/api/user/verify/{{token}}">
        click here
    </a>
    to verify your mail.
</p>