* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
    height: 3px;
}

::-webkit-scrollbar-button {
    background-color: #666;
}

::-webkit-scrollbar-track {
    background-color: #646464;
}

::-webkit-scrollbar-track-piece {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background-color: #646464;
}

::-webkit-resizer {
    background-color: #666;
}

.body-container {
    max-width: 1440px;
    background-color: #005f73;
    height: 100vh;

    @media (min-width:992px) {
        height: 100vh;
    }

    .hamburger-btn {

        &:active,
        &:focus {
            box-shadow: none;
            outline: none;
        }
    }

    .heading {
        color: #e9d8a6;
    }

    &-alert {
        width: 95vw;

        @media (min-width:768px) {
            width: 70vw;
        }

        @media (min-width:1440px) {
            width: 40vw;
        }

        &-text {
            word-wrap: break-word;
        }
    }
}

.auth-form {
    background-color: #cee7dfb4;
    width: 95vw;

    @media(min-width:768px) {
        width: 60vw;
        font-size: 20px;
    }

    @media(min-width:1440px) {
        width: 50vw;
        font-size: 24px;
    }

    &-input {
        background: transparent;
        border: 1px solid #001219;
        border-radius: 10px;
        padding: 5px 30px 5px 10px;
        box-shadow: 3px 2px 5px #7b8a90;

        &:invalid {
            border-color: red;
        }

        &:valid {
            border-color: greenyellow;
        }

        &:focus {
            border-color: #ee9b00;
            outline-color: #ee9b00
        }

        &::placeholder {
            font-size: 14px;
            color: rgba(128, 128, 128, 0.675);
            font-weight: 100;

            @media(min-width:768px) {
                font-size: 17px;
            }

            @media(min-width:1440px) {
                font-size: 20px;
            }
        }
    }

    .strength {
        &-container {
            height: 10px;

            &-indicator {
                width: 1%;
                background-color: #504d4d;
                transition: all 0.5s ease-in-out;
            }
        }
    }

    &-submit {
        width: 200px;
        height: 45px;

        &-text {
            font-size: 20px;
        }
    }

}

.auth-link {
    text-decoration: none;
}

.main-section {
    max-width: 99vw;

    &-form {
        @media(min-width:1440px) {
            margin: auto;
            width: 1200px;
        }

        &-textarea {
            resize: none;
            scrollbar-width: none;
        }

        &-button {
            width: 50vw;
            height: 45px;

            @media (min-width:1440px) {
                width: 500px;
            }
        }
    }

    &-result {
        &-header {
            position: sticky;
            top: 0;
            overflow: hidden;
            z-index: 1;
            backdrop-filter: blur(10px);
        }

        .result-container {
            width: 90%;
            grid-template-columns: repeat(1, 1fr);

            @media (min-width:768px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width:992px) {
                height: 34vh;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                overflow-y: auto;
                scrollbar-width: none;
                scroll-behavior: smooth;
            }

            &-card {
                height: 165px;

                &-header {
                    height: 22%;
                }

                &-body {
                    overflow-y: auto;
                    scrollbar-width: none;
                    line-height: 18px;
                    height: 56%;
                    text-align: justify;
                }

                &-footer {
                    height: 22%;

                    &-tag {
                        text-transform: capitalize;
                    }
                }
            }
        }

        .modal-textarea {
            resize: none;
            scrollbar-width: none;
        }
    }
}